<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="script.js"></script>
    <title>Exercice 5</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <button ng-click="afficher()">Afficher</button>
    <button ng-click="cacher()">Cacher</button>
    <p ng-hide="hide">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, cupiditate itaque reiciendis magni ullam iure provident blanditiis ea possimus saepe adipisci obcaecati minima fuga soluta recusandae minus quam facilis similique?       
    </p>
</body>

</html>